.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
}

.header-left {
  flex: 1;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.loc-icon {
  width: 25px;
  height: 25px;
}

.loc-label {
  text-decoration: underline;
  color: #fff;
  margin-right: 8px;
  margin-top: 2px;
}

.header-center {
  flex: 1;
  text-align: center;
}

.logo {
  width: 7rem;
  height: 4rem;
}

.header-right {
  flex: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
