* {
  margin: 0;
  padding: 0;
 
}

.App {
  background-color: black;
  color: white;
  max-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.end-cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.end-cover.visible {
  opacity: 1;
  transform: translateY(0%);
}

.end-cover-img{
  max-width: 100%;
  height: 90%;
}

