.display {
  position: relative;
}

.next-btn {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 25px;
  cursor: pointer;
}

.next-btn span {
  font-size: 1.2rem;
}

.img-cover1 {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.car-img{
  height: auto;
  object-fit: contain;
}

.display-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
   position: fixed;
   bottom: 0;
  width: 85%;
  z-index: 9999;
}

.car-description {
  width: 40%;
  text-align: justify;
}

.discover-btn {
  border: 2px solid #fff;
  width: 9rem;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  outline: none;
  background-color: transparent;
  background-image: linear-gradient(
    transparent,
    transparent 50%,
    white 50%,
    white
  );
  background-size: 100% 200%;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.discover-btn:hover {
  color: #000;

  background-position: 0 100%;
}

.end-btns {
  display: flex;
}

.scroll-change-animation {
  overflow: hidden;
  height: 100px; 
  position: relative;
  width: 60%;
  text-align: justify;
}

.scroll-change-animation p {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scroll-change-animation p.active {
  opacity: 1;
}

@media (max-width: 767px) {
  .display-section {
    width: 85%;
  }

  .next-btn {
    right: 10px;
  }

  .car-img {
    max-width: 100%;
    height: 33em;
  }
  .scroll-change-animation {
    width: 80%;
  }

  .scroll-change-animation p {
    font-size: 13px;
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .scroll-change-animation {
    width: 60%;
  }

  .scroll-change-animation p {
    font-size: 13px;
    width: 65%;
  }
}
