.display{
    position: relative;
}

.next-btn{
    bottom: 0;
  right: 0;
  position: absolute;
  margin: 25px;
  cursor: pointer;
}

.next-btn span{
    font-size: 1.2rem;
}

.img-cover1{
    width: 100%;
    height: 36.9em;
    object-fit: cover;
}

.display-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 85%;
}

.car-description{
    width: 40%;
    text-align: justify;
}

.discover-btn{
    border: 2px solid #FFF;
    width:9rem;
    padding: 10px;
    cursor: pointer;
    

    display: inline-block;
    outline: none;
 
    background-color: transparent;
    /*Magic*/
    background-image: linear-gradient(transparent,transparent 50%,white 50%,white);
    background-size: 100% 200%;
    -webkit-transition: background-position .3s; 
    transition: background-position .3s;

}

.discover-btn:hover {
    color: #000;
 
    background-position: 0 100%;
  }

.end-btns{
    display: flex;
}

.car-img{
    height: 36em;
}

.scroll-change-animation {
    overflow: hidden;
    height: 100px; /* Set the desired height for the animation */
    position: relative;
    width: 60%;
    text-align: justify;
  }
  
  .scroll-change-animation p {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .scroll-change-animation p.active {
    opacity: 1;
  }

  @media (max-width: 767px) {

    .next-btn{
      right: 10px;
 
    }

    .img-cover1{
        height: 33em;
    }

    .car-img{
        max-width: 100%;
    height: 33em;
    }
    .scroll-change-animation {

        width: 80%;
      }

    .scroll-change-animation p {
        font-size: 13px;
        width: 85%;
        
      }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .scroll-change-animation {

        width: 60%;
      }

    .scroll-change-animation p {
        font-size: 13px;
        width: 65%;
        
      }
  }